* {
    list-style: none !important;
}

.login a {
    font-weight: 400;
    color: #1E94F3;
    font-size: 18px;
    text-decoration: #1E94F3;
    font-family: 'Source Sans Pro', sans-serif;
}

.sign {
    justify-content: center;
    align-items: center;
    display: inline-flex;
    text-decoration: none;
    border-radius: 100px;
    border: 2px solid transparent;
    cursor: pointer;
    text-transform: uppercase;
    width: 120px;
    margin-left: 25px;
    background-color: #00BBFF;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    margin-right: 15px;
    font-weight: 600;
    padding: 7px 19px;
}

ul > .sign:hover {
    background-color: #0d6efd!important;
    color: white!important;
}

